{% block form_row -%}
    <div class="form-group">
        {{- form_label(form, null, {'label_attr': {'class': 'form-label'}}) -}}
        {{- form_widget(form, {'attr': {'class': 'form-control'}}) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {%- if translation_domain is not same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label -}}
            {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock form_label %}

{% block form_widget_simple -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger">
            <ul>
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors %} 