{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Reservation - EzGo Dashboard{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6>Edit Reservation</h6>
                        <a href="{{ path('app_admin_reservations_index') }}" class="btn btn-secondary btn-sm">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.NameRes, 'Client Name', {'label_attr': {'class': 'form-control-label'}}) }}
                                {{ form_widget(form.NameRes, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.NameRes) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.DateRes, 'Reservation Date', {'label_attr': {'class': 'form-control-label'}}) }}
                                {{ form_widget(form.DateRes, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.DateRes) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.statut, 'Status', {'label_attr': {'class': 'form-control-label'}}) }}
                                {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.statut) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.IdVoiture, 'Car', {'label_attr': {'class': 'form-control-label'}}) }}
                                {{ form_widget(form.IdVoiture, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.IdVoiture) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Save Changes
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 