<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('template_back/assets/img/apple-icon.png', 'app') }}">
  <link rel="icon" type="image/png" href="{{ asset('template_back/assets/img/favicon.png', 'app') }}">
  <title>{% block title %}Dashboard{% endblock %}</title>
  {% block css %}
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="{{ asset('template_back/assets/css/nucleo-icons.css', 'app') }}" rel="stylesheet" />
  <link href="{{ asset('template_back/assets/css/nucleo-svg.css', 'app') }}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- CSS Files -->
  <link id="pagestyle" href="{{ asset('template_back/assets/css/soft-ui-dashboard.css', 'app') }}" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="{{ asset('assets/css/custom-styles.css') }}" rel="stylesheet" />
  {% endblock %}
</head>

<body class="g-sidenav-show bg-gray-100">
  {% block body %}{% endblock %}

  {% block js %}
  <!--   Core JS Files   -->
  <script src="{{ asset('template_back/assets/js/core/popper.min.js', 'app') }}"></script>
  <script src="{{ asset('template_back/assets/js/core/bootstrap.min.js', 'app') }}"></script>
  <script src="{{ asset('template_back/assets/js/plugins/perfect-scrollbar.min.js', 'app') }}"></script>
  <script src="{{ asset('template_back/assets/js/plugins/smooth-scrollbar.min.js', 'app') }}"></script>
  <script src="{{ asset('template_back/assets/js/plugins/chartjs.min.js', 'app') }}"></script>
  <script src="{{ asset('template_back/assets/js/soft-ui-dashboard.js', 'app') }}"></script>
  {% endblock %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ asset('template_back/assets/js/soft-ui-dashboard.min.js', 'app') }}"></script>
</body>

</html> 