{% extends 'base.html.twig' %}

{% block title %}Confirmation d'achat de ticket{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="text-center mb-0">Confirmation d'achat de ticket</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <h4 class="alert-heading">Félicitations !</h4>
                        <p>Votre ticket a été acheté avec succès.</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Détails du ticket</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>Numéro de ticket :</strong> {{ ticket.ticketid }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Prix :</strong> {{ ticket.prix }} DT
                                </li>
                                <li class="list-group-item">
                                    <strong>Date d'achat :</strong> {{ ticket.dateAchat|date('d/m/Y H:i') }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>Détails du bus</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>Station de départ :</strong> {{ bus.idStation }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Places restantes :</strong> {{ bus.nbPlace }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-4 text-center">
                        <a href="{{ path('app_contact') }}" class="btn btn-primary">
                            Retour à la page d'accueil
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 